@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset 'UTF-8';

body {
  padding:0px;
  margin: 0;
}

#top-bar {
  background:#666;
  color:#eee;
  position:absolute;
  top:0px;
  height:9px;
  width:100%;
  text-align:right;
  border-top: 1px solid #333;
  /*padding-top: 2px;*/
  font-size: 8px;
  font-family:  'Source Sans Pro', sans-serif;
  z-index: 2;
}

#caption{
  font-family:  'Source Sans Pro', sans-serif;
}

#drawhere{
  position: absolute;
  color:#444;
  font-weight: normal;
  left:45%;
  top:45%;
  font-family:  'Source Sans Pro', sans-serif;
}

#canvas {
  position:absolute;
  z-index: 1;
  top:0px;
  left:0px;
  width:99.5%;
  height:99%;
  /*border: 2px solid #777;*/
}

.showhide {
  background: #ffffff;
  border: 1px solid #b3b3b3;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
  height:12px;
  line-height: 1;
  padding: 5px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  top:10px;
  width:80px;
  z-index: 3;
}

#a-hide {
  display:none;
}

#a-hide, #a-show{
  position: absolute;
  left: 2px;
}


/* MENU */


#menu,
#menu ul,
#menu li,
#menu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
  z-index: 3;
}
#menu a {
  line-height: 1.3;
}
#menu {
  width: 160px;
  margin-left: -160px;
  margin-top: 44px;
  border-top: 1px solid #b3b3b3;
}

#menu > ul > li > ul {
  max-height: 300px;
  overflow-x:hidden;
  overflow-y:auto;

}


::-webkit-scrollbar * {
    background:transparent;
}
::-webkit-scrollbar-thumb {
    background:#transparent !important;
}

#menu > ul > li > a {
  padding-right: 40px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  background: #e6e6e6;
  color: #858585;
  border-bottom: 1px solid #b3b3b3;
  text-transform: uppercase;
  z-index: 3;
}
#menu > ul > li > a > span {
  background: #ffffff;
  padding: 10px;
  display: block;
  font-size: 12px;
  font-weight: 300;
}
#menu > ul > li > a:hover {
  text-decoration: none;
}
#menu > ul > li.active {
  border-bottom: none;
}
#menu > ul > li.active > a {
  color: #fff;
}
#menu > ul > li.active > a span {
  background: #ccc;
}
#menu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
/* Sub menu */
#menu ul ul {
  display: none;
}

#menu ul li a span:hover {
  background:#eee;
}

#menu ul ul li {
  border: 1px solid #e0e0e0;
  border-top: 0;
}

#menu ul ul a {
  padding: 10px;
  display: block;
  color: #757373;
  font-size: 12px;
}
#menu ul ul a:hover {
  color: #474747;
}
#menu ul ul li.odd {
  background: #fcfcfc;
}
#menu ul ul li.even {
  background: #fff;
}

#menu ul ul li.odd:hover {
  background: #ddd;
}
#menu ul ul li.even:hover {
  background: #f0f0f0;
}

